* {
  font-family: "changa";
}

.body {
  background-color: #0c0246;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #5e142a 0%, #b1161e 100%);
}

main {
  background-color: #eee;
  margin-top: 3%;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px 5px #000000;
}

#titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3rem;
  color: #444444;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
color: #444444;
background: #FFFFFF;
}


#lista {
  text-align: center;
  justify-content: center;
  padding: 1%;
}

#ele-list {
  color: #5e142a;
}

#areatexto,
#salida {
  resize: none;
  margin-left: 1%;
  font-size: 2rem;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.22); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.22);

}

#text-in {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.btn {
  margin-left: 2%;
  margin-bottom: 2%;
}

#encriptar,
#desencriptar {
  background-color: #5e142a;
  margin-left: 2%;
  margin-bottom: 2%;
  -webkit-box-shadow: 2px 0px 15px 5px rgba(0,0,0,0.35); 
box-shadow: 2px 0px 15px 5px rgba(0,0,0,0.35);
}

#encriptar:hover,
#desencriptar:hover,
#copiar:hover {
  background-color: #b1161e;
  transform: scale(1.12);
}

footer{
  border-top: 1px solid #000000;
  padding-top: 1%;
}

.nombrefoot{
  display: flex;
  justify-content: center;
}

.social{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

#linkedin, #twitter,#github{
  padding-right: 2%;
  padding-left: 2%;
  color: #b1161e;
}

#linkedin:hover, #twitter:hover,#github:hover{
  color:#5e142a ;
  transform: scale(1.12);
}